/* ----- Colors ----- */
:root {
  --pink: #d82f5d;
  --green: #70b8aa;
  --green-light: #57f3cc;
  --primary: #000;
  --gray-light: #8d8d8d;
  --white: #fff;
}

/* ----- Global ----- */
body, html {
  font-family: Montserrat;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ----- Content ------ */
.divisor {
  display: none;
}

.beon-showcase {
  $self: &;

  #{ $self } {
    &__head {
      text-align: center;
      margin-top: 4rem;

      &::before {
        display: none;
      }
  
      &-inner {
        text-align: center;
        padding: 0 2rem;
        display: inline-block;
        background-color: var(--white);
        width: auto;
      }

      #{ $self }__viewmore {
        display: none;
      }
    }
  
    &__title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 3rem;
      padding: 1rem 0;
      
      @media (max-width: 507px) {
        line-height: 40px !important;
        font-size: 2rem;
      }
    }
  
    &__item {
      display: block;
      padding: 2rem;
      cursor: pointer;
      font-weight: 500;

      &-details {
        display: none;
      }

      &-title {
        padding: 2px 0;
        font-size: 1.5rem;
        font-weight: 500;
        position: fixed;
        top: 70%;

        @media (max-width: 600px) {
          top: 75%;
        }

        @media (max-width: 350px) {
          top: 73%;
        }
      }

      &-references {
        display: none;
      }

      &-badge {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 3px;
    
        &:nth-child(2) {
          display: none;
        }
    
        &--off {
          display: flex;
          width: 50px;
          height: 50px;
          padding: 5px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: 500;
          color: var(--white);
          background-color: var(--pink);
        }    
      }

      &-description {
        padding: 0;
        color: var(--gray-light);
        margin-top: 10rem;

        #{ $self }__price {
          color: var(--green);
          margin-right: 5px;
        }
      }

      &-price {
        line-height: 150%;

        &-box--special {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;

          .beon-interaction__installmentsCount {
            font-weight: 500;
            font-size: 1.1em
          }

          .beon-interaction__installmentPrice {
            font-weight: 500;
            font-size: 1.1em;
          }
        }

        &-box--simple {
          .beon-interaction__installmentsCount {
            font-weight: 500;
            font-size: 1.1em
          }

          .beon-interaction__installmentPrice {
            font-weight: 500;
            font-size: 1.1em;
          }
        }

        &--from {
          display: block;
          text-decoration: line-through;
          color: var(--gray-light);
          flex: 1 0 100%;
          
          .prefix {
            text-transform: lowercase;
          }

          #{ $self }__price {
            color: var(--gray-light);
            font-size: 1.1em;
          }
        }
        
        &--to {
          display: flex;
          color: var(--gray-light);
          text-transform: uppercase;
          font-size: .8em;
          font-weight: bolder;

          .prefix {
            display: none;
          }

          #{ $self }__price {
            color: var(--green);
            font-weight: bold;
          }
        }
      }

      &-image {
        overflow: hidden;

        > a {
          display: block;
          transition: all .5s ease-out;
          
          &:hover,
          &:focus {
            transform: scale(1.2) rotate(8deg);
          }
        }
      }  

      &-actions {
        opacity: 0;
        transition: all 1.6s;

        @media (max-width: 900px) {
          opacity: 1;
        }
      }

      &:hover {
        #{ $self }__item-actions {
          opacity: 1;
        }
      }

      &-avista {
        display: none;
      }
    }
  }
}

.beon-slider {
  padding: 0 15px;

  .beon-slider__frame {
    max-width: 100%;
    min-width: 100%;

    #tns1 {
      @media (max-width: 449px) {
        width: 1000%;
      }
      @media (min-width: 450px) {
        width: 800%;
      }
      @media (min-width: 600px) {
        width: 400%;
      }
      @media (min-width: 900px) {
        width: 266.667%;
      }
      @media (min-width: 1200px) {
        width: 200%;
      }
    }
  }

  & .tns-nav button[data-nav].tns-nav-active {
    border: 2px solid var(--green);
    box-shadow: none;
    padding: 4px;

    &:focus {
      background: transparent;
    }
  }
}

.beon-button--primary {
  background-color: transparent;
  
  &:hover {
    border: 4px solid var(--green-light);
  }

  span {
    text-transform: lowercase;
  }
}




